<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rút tiền</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <%- include('nav') %>
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Duyệt gửi mã OTP</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">

                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Danh sách mã OTP</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
                            </div>
                        </div>
                        <div class="card-body p-0" style="overflow-y: hidden;">
                            <table class="table table-striped projects">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Tài khoản</th>
                                        <th class="text-center">OTP</th>
                                        <th class="text-center">IP</th>
                                        <th class="text-center">Thời gian</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listOTP.length > 0) { %>
                                        <% for (var i = 0; i < listOTP.length; i++) { %>
                                            <tr class="text-center">
                                                <td id="<%=listOTP[i].id%>">
                                                    <%=listOTP[i].id%>
                                                </td>
                                                <td id="<%=listOTP[i].phone_login%>">
                                                    <b><%=listOTP[i].phone_login%></b>
                                                </td>
                                                <td id="<%=listOTP[i].otp%>">
                                                    <b><%=listOTP[i].otp%></b>
                                                </td>
                                                <td>
                                                    <b><%=listOTP[i].ip%></b>
                                                </td>
                                                <td style="min-width: 181px;">
                                                    <b><%=listOTP[i].time%></b>
                                                </td>
                                                <td class="project-actions text-center" style="min-width: 200px;">
                                                    <a class="btn btn-info btn-sm send-btn" href="#">
                                                        <i class="fa fa-paper-plane"></i> Send
                                                    </a>
                                                    <a class="btn btn-success btn-sm confirm-btn" href="#">
                                                        <i class="fa fa-check"></i> Confirm
                                                    </a>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
            </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <script src="/js/admin.js"></script>
    <script>
        $('.send-btn').click(function(e) {
            e.preventDefault();
            var parents = $(this).parent().parent();
            var id = parents.children();
            var phoneChild = id.children().prevObject[1].id;
            var maOTP = id.children().prevObject[2].id;
            const phone = "0" + phoneChild;
            let url = `intent:${phone}#Intent;scheme=sms;S.sms_body=${maOTP};end`;
            let win = window.open(url);
        });
        $('.confirm-btn').click(function(e) {
            e.preventDefault();
            var parents = $(this).parent().parent();
            var id = parents.children();
            const phone = id.children().prevObject[1].id;
            Swal.fire({
                title: 'Bạn đồng ý xác nhận thành công?',
                showDenyButton: true,
                denyButtonText: `No`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/manage/admin/sendotp",
                        data: {
                            type: "confirm",
                            phone: phone,
                        },
                        dataType: "json",
                        success: function(response) {
                            if (response.message == 1) {
                                Swal.fire(
                                    'Good job!',
                                    '<b style="color: #fff">Xác nhận thành công!</b>',
                                    'success'
                                );
                                parents.remove();
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Something went wrong!'
                                });
                            }
                        }
                    });
                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            });
        });
    </script>
</body>

</html>