<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thống kê</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body class="dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <%- include('nav') %>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Thống kê</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <!-- <h5 class="mb-2">Info Box</h5> -->
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-info"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Số lượng thành viên</span>
                                        <span class="info-box-number totalMember">0</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Số lượt win</span>
                                        <span class="info-box-number totalWin">0</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-danger"><i class="far fa-flag"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Số lượt loss</span>
                                        <span class="info-box-number totalLoss">0</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-warning"><i class="fa fa-user-times" aria-hidden="true"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Thành viên ảo</span>
                                        <span class="info-box-number totalMemberFail">0</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <!-- =========================================================== -->
                        <!-- <h5 class="mb-2">Info Box</h5> -->
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box shadow-none">
                                    <span class="info-box-icon bg-info"><i class="fa fa-play" aria-hidden="true"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Online hôm nay</span>
                                        <span class="info-box-number onlineToday">0</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box shadow-sm">
                                    <span class="info-box-icon bg-success"><i class="fa fa-check" aria-hidden="true"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Nạp tiền thành công</span>
                                        <span class="info-box-number totalRecharge">0</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box shadow">
                                    <span class="info-box-icon bg-warning"><i class="fa fa-university" aria-hidden="true"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Rút tiền thành công</span>
                                        <span class="info-box-number totalwithdraw">0</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box shadow-lg">
                                    <span class="info-box-icon bg-danger"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Rút hoa hồng thành công</span>
                                        <span class="info-box-number totalBonus">0</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <!-- /.col -->
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box shadow-lg">
                                    <span class="info-box-icon bg-primary lai-lo"><i class="fa fa-balance-scale" aria-hidden="true"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text lai-lo">Đang lãi</span>
                                        <span class="info-box-number lai-lo">0</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->

                <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
                    <i class="fas fa-chevron-up"></i>
                </a>
            </div>
    </div>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <script src="/js/admin.js"></script>
    <script>
        // total member
        const totalMember = formatMoney('<%=totalMember[0].totalMember%>');
        $('.totalMember').html(totalMember);
        // member ảo
        const totalMemberFail = formatMoney('<%=totalMemberFail[0].totalMember%>');
        $('.totalMemberFail').html(totalMemberFail);
        // lượt win
        const totalMoney = formatMoney('<%=totalWin[0].totalMoney%>');
        const totalWin = formatMoney('<%=totalWin[0].totalWin%>');
        $('.totalWin').html(totalMoney + " (" + totalWin + ")");

        // lượt loss
        const totalMoneyL = formatMoney('<%=totalLoss[0].totalMoney%>');
        const totalLoss = formatMoney('<%=totalLoss[0].totalLoss%>');
        $('.totalLoss').html(totalMoneyL + " (" + totalLoss + ")");

        // online hôm nay 
        const onlineToday = formatMoney('<%=onlineToday[0].onlineToday%>');
        $('.onlineToday').html(onlineToday);

        // Nạp tiền thành công
        const rechargeSucces = formatMoney('<%=rechargeSucces[0].rechargeSucces%>');
        const totalRecharge = formatMoney('<%=rechargeSucces[0].totalRecharge%>');
        $('.totalRecharge').html(rechargeSucces + " (" + totalRecharge + ")");

        // rút tiền thành công
        const withdrawSucces = formatMoney('<%=withdrawSucces[0].withdrawSucces%>');
        const totalwithdraw = formatMoney('<%=withdrawSucces[0].totalWithdraw%>');
        $('.totalwithdraw').html(withdrawSucces + " (" + totalwithdraw + ")");

        // rút tiền hoa hồng thành công
        const withdrawBonus = formatMoney('<%=withdrawBonus[0].totalMoney%>');
        const totalBonus = formatMoney('<%=withdrawBonus[0].totalBonus%>');
        $('.totalBonus').html(withdrawBonus + " (" + totalBonus + ")");

        // tính lãi lỗ
        const rechargeSucces1 = Number('<%=rechargeSucces[0].rechargeSucces%>');
        const withdrawSucces1 = Number('<%=withdrawSucces[0].withdrawSucces%>');
        const totalLai = formatMoney(Number('<%=rechargeSucces[0].rechargeSucces%>') - Number('<%=withdrawSucces[0].withdrawSucces%>'));
        if (rechargeSucces1 > withdrawSucces1) {
            $('.lai-lo:eq(1)').text("Đang lãi");
            $('.lai-lo:eq(2)').html("<b style='color: #2ecc71'> + " + totalLai + "</b>");
        } else {
            $('.lai-lo:eq(0)').removeClass("bg-primary");
            $('.lai-lo:eq(0)').addClass("bg-danger");
            $('.lai-lo:eq(1)').text("Đang lỗ");
            $('.lai-lo:eq(2)').html("<b style='color: red'>" + totalLai + "</b>");
        }
    </script>
</body>

</html>